.main{
    border: 0.5px solid;
    width: 100%;
    height: 300px;
    background-image: url(../image/sky.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.header{
    text-align: center;
}
.margin1{
    margin-left: 25px;



}
.navi{
    background-color:rgb(85, 85, 231);
    flex-direction:column;
    height: 35px;
    width: 100%;
    top: 0;
    border: 1px solid;
   
    
}
.menu{
    float:right;

    
}
ul.menu li{
    display: inline-block;
    font-size: 15px;
    list-style: none;
    margin-left: 20px;
    color: aliceblue;
    margin-right: 20px;
    margin: 0 5px;
    
}
ul.menu li a{
    text-decoration: none;
    color: aliceblue;
}
.home{
    font-size:15px;
    float:left;
    margin-left: 20px;
    color: aliceblue;
   
}

.Grid{
   
   display: grid;
   grid-template-columns: 25% 50% 25%;
   grid-template-rows: auto;
   grid-template-areas: 
        'menulist midcontent rightcontent';
}
.leftcontent{
    grid-area: menulist;
    
}
.midcontent{
    grid-area: midcontent;
}
.rightcontent{
    grid-area: rightcontent;
}
.leftcontent{
    margin-top: 10px;
    text-align: center;
    align-items: center;
}
.midcontent{
   
    text-align: center;
}
.rightcontent{
    
    text-align: center;
}
.whitetext{
    color: aliceblue;
}
.image1{
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-left: 42%;
    
}
.textback{
    background-color: rgb(132, 132, 238);
    color: aliceblue;
    height: 70px;
    text-align: center;
    margin-top: 30px;
    
}

@media only screen and (max-width: 768px) {
    .Grid{
        
        grid-template-columns: 25% 75% ;
        grid-template-rows: auto;
        grid-template-areas: 
             'menulist midcontent '
             'space rightcontent';
    }
    .food11{
        display: inline-block;
        
    }
 }
@media only screen and (max-width: 550px) {
   .Grid{
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
         'menulist' 'midcontent' 'rightcontent';
   }
}

  